*,
* ::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url("images/gymbackground.png.PNG");
}

.background {
    background: linear-gradient(125deg, rgb(43, 96, 170), rgb(15, 57, 117), rgb(38, 120, 233));
    color: azure;
    margin: auto;
    box-shadow: 2px 5px 10px 5px rgba(8, 46, 99, 0.988) inset;
}

.title_menu_slides_cont {
    display: flex;
}

.machines_background {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    height: 170px;
    padding-bottom: 10px;
}

.atlantic_text {
    display: inline;

}

h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: azure;
}

.fitness_title {
    margin-left: 200px;
}

h2 {
    font-family: "Lustria", serif;
    font-weight: 200;
    font-size: 2em;
    color: azure;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade_in {
    animation: fadeIn 3s;
}

/********************* menu*********************/
.popout_menu {
    height: 100vh;
    width: 225px;
    text-align: center;
    margin-left: -20px;
}

.tab_menu {
    margin: auto;
    width: 100vw;
    height: 10vh;
}

.tab_list {
    margin-top: 0;
    padding: 10px;
    list-style: none;
    font-size: 2.8em;
    white-space: nowrap;
}

.tab_item {
    display: inline;
    margin-left: 5vw;
    position: relative;
}

.tab_btn {
    border: none;
    background: none;
    color: azure;
    cursor: pointer;
    font-size: 1em;
    font-family: "Lustria", serif;
    font-weight: 600;
    position: relative;
}

.main_tabs {
    font-size: 2.8em;
    padding: 30px;
    list-style: none;
    margin-top: 70%;
    white-space: nowrap;
}

.main_tab_item {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: azure;
    position: relative;
    cursor: pointer;
}

.tab::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: azure;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

.tab:hover::after,
.tab:focus::after {
    transform: scale(1);
}

.tab_active::after,
.underline::after {
    transform: scale(1);
}

/********************* menu*********************/



.slideshow {
    margin-top: 70px;
    text-align: center;
    color: azure;
    padding: 50px;
}

.gympic,
.google_map {
    height: 50vh;
    width: 40vw;
    margin: auto;
}

/*********************** about page ***************/
.about_item {
    font-size: .47em;
}

.about_main_content {
    padding: 2%;
    display: none;
}

.hours_details {
    color: azure;
    font-size: 1em;
    text-align: center;
    display: none;
    margin-top: 15%;
    margin-bottom: 15%;
}

.hours_text {
    margin: auto;
}

.active {
    display: flex;
}

.atlantic_building {
    height: 72vh;
    width: 50vw;
}

.overview {
    padding: 20px;
    overflow-y: auto;
    height: 72vh;
}

.overview_title{
    font-size: 1.7em;
}

.overview_paragraph{
    font-size: 1.2em;
    font-weight: 200;
}

.overview_list{
    padding-left: 35px;
}

.about_tabs {
    text-align: center;
    font-size: 2em;
    padding: none;
    list-style: none;
    margin-top: 0;
    white-space: wrap;
    font-weight: 600;
}

.membership {
    width: 40vw;
    height: 50vh;
    text-align: center;
    margin-top: 10%;
}

.membership_img {
    margin-top: -30%;
    height: 200px;
    width: 200px;
}

.membership_desc {
    margin-top: 15%;
}

.membership_title {
    font-family: "Libre Bodoni", serif;
    font-size: 3em;
}

.silver_snkrs_learn {
    margin-top: 10%;
    font-size: 1.5em;
}

.about_trainers {
    margin: auto;
    color: azure;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;
    margin-bottom: 7%;
}

.trainer_name {
    max-width: fit-content;
    margin-left: 15%;
    margin-top: 4%;
    font-family: "Frijole", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
}

.trainer_icon_cont {
    max-width: fit-content;

}

.trainer_desc {
    padding: 5%;
    margin-left: 2%;
    font-weight: 900;
    font-size: 1.2em;
    margin-top: -10%;
}

.trainer_list {
    list-style: inside;
    color: azure;
    font-size: 1.2em;
    margin-top: -10%;
    padding: 7%;
}

.classes_cont {
    margin-left: 7%;
}

.classes_header {
    max-width: fit-content;
}

.trainer_list_item {
    margin-bottom: 0;
}

.icons_cont {
    display: flex;
    gap: 5%;
    margin-left: 40%;
    max-height: fit-content;
    max-width: fit-content;
}

.trainers {
    border-radius: 15%;
    height: fit-content;
    width: 25vw;
    display: flex;
}

.trainer_img {
    position: absolute;
    height: 50vh;
    width: 15vw;

}

.lisa_heading {
    margin-left: 37%;
}

.trainer_icon {
    max-height: fit-content;
    max-width: fit-content;
    color: azure;
    border: none;
    border-radius: 25%;
    transition: transform 200ms;
    font-size: 3em;
    background: none;
    cursor: pointer;
}


/*********************** about page ***************/

/*********************** gallery page ***************/
.gallery_container {
    margin-top: 2%;
    margin-bottom: 3%;
}

.slides_arrow_wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.arrow {
    color: white;
    font-size: 5em;
}

.icon {
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 200ms;
    max-height: fit-content;
    margin: auto;
}

.icon:hover,
.trainer_icon:hover,
.icon:focus-visible,
.trainer_icon:focus-visible {
    transform: translateY(-.75rem);
}

.slide_img {
    height: 70vh;
    width: 70vw;

}

.gallery_photos_title {
    text-align: center;
}

/*********************** gallery page ***************/

/*********************** contact page ***************/
.contact_cont {
    display: flex;
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

.front_desk {
    height: 60vh;
    width: 50vw
}

.contact_info_cont {
    margin: auto;
    padding: 2vw;
}

.contact_heading {
    font-size: 2.3em;
}

.follow_us {
    margin-top: 10%;
}

.instagram_handle {
    font-size: 1.5em;
    margin-bottom: 10%;
}

.contact_icons {
    margin: auto;
}

/*********************** contact page ***************/
@media(max-width: 900px){
    .about_main_content{
        flex-wrap: wrap;
    }
    .atlantic_building{
        width: 100%;
    }
    .phone_number{
        font-size: 2em;
    }
}

@media(max-width: 1000px) and (max-height: 1024px) {
    .trainers {
        margin-top: 5%;
        width: 50vw;

    }

    .trainer_img {
        margin-top: 2%;
        width: 25vw;
        height: 45vh;
    }

    .lisa_img {
        margin-left: 5%;
        height: 50vh;
    }

    .icons_cont {
        margin: auto;

    }

    .trainer_icon {
        font-size: 2em;
    }

    .about_trainers {
        flex-wrap: wrap;
    }

    .trainer_desc {
        font-size: 1em;
    }

    .trainer_list {
        font-size: 1em;
    }

    .about_memberships {
        flex-wrap: wrap;
    }

    .membership {
        margin-bottom: 50px;
    }

    .membership_title {
        font-size: 2em;
    }

    .membership_cost {
        font-size: 1.5em;
    }
}


@media(max-width: 932px) and (max-height: 430px) {
    .popout_menu {
        margin-left: auto;
        height: 150vh;
    }

    .tab_menu {
        height: 20vh;
        font-size: .8em;
    }

    .trainer_img {
        width: 40vw;
        height: 100vh;
        margin-left: 2%;
    }
}



@media(max-width: 500px) {
    .title_menu_slides_cont {
        flex-wrap: wrap;
    }

    .machines_background {
        margin-top: 10px;
        padding: 50px;
        max-height: fit-content;
    }

    .logo {
        height: 80px;
    }

    h1 {
        font-size: 2.5em;
    }

    .fitness_title {
        margin-left: 120px;
    }

    h2 {
        font-size: 1.3em;
    }

    .popout_menu {
        margin-left: auto;
        width: 100vw;
        height: 40px;
        display: block;
    }

    .main_tabs {
        margin-top: 0;
        padding: 10px;
        font-size: 1.3em;
        list-style: none;
    }

    .tab_list {
        margin-top: 0;
        padding: 10px;
        font-size: 1.3em;
        list-style: none;
    }

    .main_tab_item {
        margin-bottom: 0;
        display: inline-block;
        margin-left: 5vw;
    }

    .slideshow {
        padding: 10px;
        margin-top: 0;
    }

    .gympic,
    .google_map {
        height: 30vh;
        width: 80vw;
        margin-bottom: 30px;
    }

    .about_main_content {
        flex-wrap: wrap;
    }

    .atlantic_building {
        width: 100%;
        height: 400px;
    }

    .about_tabs {
        margin-top: 0;
        padding: 0px;
        font-size: 1.3em;
    }

    .tab_btn {
        display: block;
        max-width: fit-content;
    }

    .hours_text {
        margin-top: 25%;
    }

    .slide_img {
        height: 300px;
        width: 300px;
    }

    .icon {
        font-size: 3em;
    }

    .trainers {
        margin-top: 10%;
        width: 60vw;
    }

    .trainer_img {
        width: 200px;
        height: 350px;
        margin-left: -5%;

    }

    .icons_cont {
        margin: auto;
    }

    .trainer_name {
        margin: auto;
    }

    .lisa_img {
        margin-top: -1%;
    }

    .sheila_heading {
        font-size: 2.5em;
        margin-left: 10%;
    }

    .gallery_container {
        margin-top: 10%;
    }

    .about_memberships {
        flex-wrap: wrap;
    }

    .membership_img {
        width: 140px;
        height: 150px;
    }

    .membership {
        margin-top: 25%;
        width: 270px;
        height: 370px;
    }

    .contact_cont {
        flex-wrap: wrap;
        margin-top: 8%;
        padding: 12px;
    }

    .front_desk {
        width: 100%;
        height: 300px;
    }
}